
out
target
web
Backend.iml
.idea/libraries
.idea/vcs.xml
.idea/modules.xml
.idea/uiDesigner.xml
.idea/workspace.xml
.idea/encodings.xml
.idea/.name
.idea/artifacts
.idea/copyright
Database.trace.db
Database.h2.db
Database.lock.db
.idea/dataSources.local.xml
.idea/dataSources.xml
.idea/dataSources.ids